{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h2 class="error-title">401</h2>
        <h2>Unauthorized</h2><br>
        <p>Your autorhization failed.</p>
        <p>Please try refreshing the page and fill in the correct login details.</p><br>
        <p>If you'd like to learn more about this error, please click <u><a class="text-color" href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#401" target="_blank" rel="noopener noreferrer">here</a></u>.</p>
    </div>
{% endblock content %}