{% extends "layout.html" %}
{% block content %}
    <h1>Meet developers!</h1><br><br>
    <div class="indent">
    <p><b>Hakyung Yun</b></p><br>
    <a href="https://github.com/hakyung4" target="_blank">GitHub</a><br>
    <a href="https://www.linkedin.com/in/hakyung-peter-yun-3204061b8/" target="_blank">LinkedIn</a>
    <br><br>
    <p><b>Earl Chae</b></p><br>
    <a href="https://github.com/HYOB99" target="_blank">GitHub</a><br>
    <a href="#" target="_blank">LinkedIn</a>
    </div>

{% endblock content %}