{% extends "layout.html" %}
{% block content %}
    <h1>Meet developers!</h1><br><br>
    <div class="indent">
    <p><b>Hakyung Yun</b></p><br>
    <!-- target="_blank" opens the linked page in a new tab or window. It is a useful feature, but there is a security risk that we should be aware of. -->
    <!-- The new tab gains limited access to the linking page via window.opener, which it can then use to alter the linking page's URL via window.opener.location -->
    <!-- This might be a problem if the external resource is not trustworthy; migt have been hacked, the domain has changed owners over the years etc. -->
    <!-- In order to prevent such risk, I am adding rel="noopener noreferrer" attribute to all of target="_blank" links -->
    <!-- Saw it from a instgram post -->
    <i class="fa fa-github"></i><a class="text-color" href="https://github.com/hakyung4" target="_blank" rel="noopener noreferrer">GitHub</a><br>
    <a class="text-color" href="https://www.linkedin.com/in/hakyung-peter-yun-3204061b8/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    <br><br>
    <p><b>Earl Chae</b></p><br>
    <a class="text-color" href="https://github.com/HYOB99" target="_blank" rel="noopener noreferrer">GitHub</a><br>
    <a class="text-color" href="https://www.linkedin.com/in/earlchae/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    <br><br>
    <p>The source code for this project can be found <a class="text-color" href="#" target="_blank" rel="noopener noreferrer">here</a>.</p>
    <br><br><br><br><br>
    <h3>Contact Us!</h3>
    <p>Hakyung Yun: hamiram9@gmail.com</p>
    <p>Earl Chae: </p>
</div>
{% endblock content %}