<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/main.css">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Home Page</title>
    {% endif %}
</head>
<body>
<header>
    <nav>
        <ul class="nav_links">
            <li><a href="http://localhost:5000/movie_picker">Movie Picker</a></li>
            <li><a href="http://localhost:5000/home">Home</a></li>
            <li><a href="http://localhost:5000/about">About</a></li>
            <li><a href="http://localhost:5000/genres">Genres</a></li>
            <li><a href="http://localhost:5000/recent_movies">Recent movies</a></li>
        </ul>
    </nav>
        <a class="cta" href="http://localhost:5000/sign_in"><button>Sign in</button></a>
        <a class="cta" href="http://localhost:5000/sign_up"><button>Sign up</button></a>
</header>
        {% block content %}{% endblock %}
</html>