{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="../static/forms.css">
<div class="content-section bigger-text">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="biggest-text">Sign In</legend>
            <br>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                <!-- check for validation errors -->
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                <!-- check for validation errors -->
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <br>
            <!-- remember me? -->
            <div class="form-check"> 
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>

        </fieldset>
        <br>
        <div class="form-group center">
            <button class="btn btn-primary" type="submit">Sign In</button>
        </div>
        <br>
        <small class="text-muted ml-2">
            <a class="text-color" href="#">Forgot Password?</a>
        </small>
    </form>
</div>
<div class="bigger-text">
    <small class="text-muted">
        Don't Have An Account? 
        <br><br>
        <a class="center" href="{{ url_for('sign_up_page') }}"><button>Sign Up</button></a>
    </small>
</div>
{% endblock content %}