<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/main.css">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Home Page</title>
    {% endif %}
</head>
<body>
<header>
    <img src="https://api.freelogodesign.org/files/b09c45b71eb54116b4ecba31cad6cf86/thumb/logo_200x200.png?v=0" alt="Logo Pictures" width="125px" height="125px">
    <!--Decided to name this site "Movie Picker" 
    Imported the logo from https://editor.freelogodesign.org/?category=15&companyName=Movie%20Picker.
    Free to create and download. No copyright issues. -->
    <nav>
        <ul class="nav_links">
            <li><a href="{{ url_for('main_page') }}">Home</a></li>
            <li><a href="{{ url_for('about_page') }}">About</a></li>
            <li><a href="{{ url_for('genres_page') }}">Genres</a></li>
            <li><a href="{{ url_for('recent_movies_page') }}">Recent movies</a></li>
        </ul>
    </nav>
        <a class="cta" href="{{ url_for('sign_in_page') }}"><button>Sign in</button></a>
        <a class="cta" href="{{ url_for('sign_up_page') }}"><button>Sign up</button></a>
</header>
        <div class="message-box">
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- with_categories=true gets sucess messages; bootstrap class -->
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
        {% block content %}{% endblock %}
</html>