{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="../static/forms.css">
<div class="content-section bigger-text">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <h1>Reset Password</h1>
            <br>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                <!-- check for validation errors -->
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <br>
        </fieldset>
        <br>
        <div class="form-group center">
            <button class="btn btn-primary" type="submit">Request Reset Password</button>
        </div>
        <br>
    </form>
</div>
{% endblock content %}